div#skills
    div.transition
        h2 "I've got a bunch of skills to work with, but I am always <br>trying to add to my skill toolkit"
    
    div.skillsexamples
        div.skill
            img(src='../assets/coding.svg')
            div.skilldata
                h3 Front-End Development
                div#barfrontend
                h4 HTML5 | Jade | CSS3 | SASS/SCSS | Flexbox | Bootstrap | CSS Animation | JavaScript | JQuery | Angular | React
        div.skill
            img(src='../assets/js.svg')
            div.skilldata
                h3 Back-End Development
                div#barbackend
                h4 Node | Express | MongoDB | MySQL | PHP | Mongoose | Sockets | Bcrypt | CodeIgniter | CMS
        div.skill
            img(src='../assets/fountain-pen-1.svg')
            div.skilldata
                h3 Design
                div#bardesign
                h4 Typography | Color Theory | UX | Logo Design | Photography | Design Concepts | Wireframes | Mockups
        div.skill
            img(src='../assets/computer-3.svg')
            div.skilldata
                h3 Strategy
                div#barstrategy
                h4 Brand Strategy | Research | SEO | Social Media | Content Strategy | Empathy Maps 
        div.skill
            img(src='../assets/worldwide.svg')
            div.skilldata
                h3 Communication
                div#barcommunication
                h4 Customer Service | Management | Collaboration | Training | Problem Solving | Networking | Engagement
